VITE_SESSION_FI_CONTRACT=0x4417D1E6cdE387a391a5aC73f9A13e06076b4984
VITE_SESSION_MANAGER_CONTRACT=0xe47B64746A7B1D3f430aB5b95Fbbbd051c83FBF3
VITE_WALLET_CONNECT_PROJECT_ID=your_wallet_connect_project_id
VITE_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
